body {
    background-color: #DAF7F6;
    color: #3B3B3B;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
}

header {
    background-color: white;
    text-align: center;
}

header img {
    margin-right: 20px;
}

h1 {
    color: #F16059;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    margin: 0;
    padding: 40px 0;
    text-transform: uppercase;
    font-weight: 700;
}

main {
    width: 1000px;
    margin: 0 auto;
}

.card {
    margin: 40px 0;
    overflow: auto;
}

.image {
    float: left;
    height: 550px;
    width: 500px;
}

.recipe {
    background-color: white;
    box-sizing: border-box;
    float: left;
    height: 550px;
    padding: 20px;
    width: 500px;
}

.recipe h2 {
    color: #F16059;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.time {
    margin-bottom: 0;
    margin-right: 10px;
    vertical-align: middle;
    border: 1px solid #3B3B3B;
    overflow: auto;   
}

.time div {
    float: left;
    padding-left: 6px;
    width: 33.3333%;
    box-sizing: border-box;
}

.time-details {
    text-transform: uppercase;
    display: inline-block;
}

.time .cook {
    border-right: 1px solid #3B3B3B;
    border-left: 1px solid #3B3B3B;;
}

.time img {
    width: 15px;
    height: auto;
    margin-right: 3px;
    vertical-align: middle;
}

.time strong {
    font-family: 'Montserrat', sans-serif;
}

#cookies .image {
    background-image: url("../img/gluten-free-sugar-cookies.jpg");
}

#pesto .image {
    background-image: url("../img/nut-free-pesto.jpg");
}

#salad .image {
    background-image: url("../img/watermelon-salad.jpg");
}